@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
.center{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.centText{
	text-align: center;
}

/* Main elements */
header{
	margin-top: 1.25em;
}

div{
	color: #334;
}

body{
	margin: 10px 0 0;
	font-family: 'Noto Sans', sans-serif;
	background-color: #ECECEC;
}

a{	/* Overrides the underlined purple decoration when clicked on */
	color: #4B77BE;
	text-decoration: none;
}

p{	/* Justified text masterrace */
	margin: 0.4em 0 0;
	text-align: justify;
}

/* Footer */
footer{
	/* Background */
	width: 100%;
	position: fixed; /* Want to change this for actual force to bottom code */
	bottom: 0px;
	padding: .5em 0 3em;
	background-color: #222;
	/* Text */
	font-size: 0.85em;
	color: #ddd;
}

footer strong{
	font-size: 1.25em;
}

footer ul{
	margin: 0 auto;
	text-align: center;
}

footer li{
	margin: 1em 1.5em;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

footer ul a{
	color: #6BB9F0;
	text-decoration: underline;
}

footer div img{ /* For social media images */
	height: 2em;
}

#oastem{
	padding-top: 2em;
}

#instagram{
	padding: 0 .75em;
}

/* Team */ 
#person img{	/* Profile picture */
	float: left;
	float: left;
	height: 205px;
	width: 198px;
}

#person h2{	/* Title */
	
}

#person h3{	/* Name */

}

#person p{	/* Information entry */

}

/* Sponsors */
.sponsor{
	color: #6C7A89;
}

/* Tabs at the top */
nav{
	text-align: center;
}

#navigationTabs{
	padding: .75%;
	margin: 0px;
	text-align: center;
	/**background-color: #26A65B;*/
}

#selectedTab{
	color: #26A65B;
}

nav li:hover{
	color: #26A65B;
	/*background-color: #1a733f;*/
}

nav li{
	font-size: 150%;
	padding: .75%;
	display: inline;
}

nav a li{
	color: #444;
}

ul{
	list-style-type: none;
}