@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

/* Main elements */
header{
	margin-top: 1.25em;
}

div{
	color: #334;
}

body{
	margin: 10px 0 0;
	font-family: 'Noto Sans', sans-serif;
	background-color: #ECECEC;
}

a{	/* Overrides the underlined purple decoration when clicked on */
	color: #4B77BE;
	text-decoration: none;
}

p{	/* Justified text masterrace */
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
	text-align: justify;
}

h1{
    text-align: center;   
}

.container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.center{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.centText{
	text-align: center;
}

/* Tabs at the top */
nav{
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

nav img{
	width: 10em;
    float: left;
}

#navigationTabs{
	padding: .75%;
    text-align: right;
}

#selectedTab{
	color: #26A65B;
}

nav li:hover{
	color: #26A65B;
}

nav li{
	font-size: 150%;
	padding: .75%;
	display: inline;
}

nav a li{
	color: #444;
}

/* Footer */
footer{
	/* Background */
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: .5em 0;
	background-color: #222;
	/* Text */
	font-size: 0.85em;
	color: #ddd;
}

footer strong{
	font-size: 1.25em;
}

footer p{
	width: 100%;
}

footer ul{
	margin: 0 auto;
	text-align: center;
}

footer li{
	margin: 1em 1.5em;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

footer ul a{
	color: #6BB9F0;
	text-decoration: underline;
}

footer div img{ /* For social media images */
	height: 2em;
}

#oastem{ /* Vertically centers the STEM logo within the li block*/
	padding-top: 2em;
}

#instagram{ /* Adds padding to left/right of middle logo so there is none on the FB/GH logos*/
	padding: 0 .75em;
}

/* Individual pages */
/* Individual pages */
/* Individual pages */

/* Main */ 
#jumbotron{ /* Still need to format this as responsive to varying res */
	margin-bottom: 2em;
}

/* Team */ 
#person img{	/* Profile picture */
    float: left;
    margin-right: 1em;
    width: 13em;
}

#person h2{	/* Title */
    padding: 0;
    margin-bottom: 0;
}

#person h3{	/* Name */
    margin-top: 0.45em;
    margin-bottom: .5em;
}

#person p{	/* Information entry */
	margin: 0;
}

/* Sponsors */
ul.sponsor li{
	width: 20em;
	display: inline-block;
	margin: 10px;
	padding-bottom: 2em;
}

.sponsor img{
	width: 15em;
}

.sponsor h2{
	font-size: 2em;
	margin: 0;
}