@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body{
	font-family: 'Noto Sans', sans-serif;
	background-color: #ECECEC;
}

a{
	color: #4B77BE;
	text-decoration: none;
}

nav{
	text-align: center;
}

#navigationTabs{
	background-color: #3FC380;
	text-align: center;
}

nav li:hover{
	background-color: #298054;
}

nav li{
	display: inline;
}

nav li a{
	color: #F2F1EF;
}

#selectedTab{
	background-color: #298054;
}

#person img{
	height: 205px;
	width: 198px;
}

#person h2{
	
}

#person h3{

}

#person p{

}
