@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

body{
	font-family: 'Arimo', sans-serif;
	background-color: #FFE6B3
}

a{
	text-decoration: none;
}

nav{
	text-align: center;
}

#navigationTabs{
	background-color: #913D88;
	text-align: center;
}

nav li:hover{
	background-color: #663399;
}

nav li{
	display: inline;
}

#selectedTab{
	background-color: #663399;
}

#person img{
	height: 205px;
	width: 198px;
}

#person h2{
	
}

#person h3{

}

#person p{

}
